[submodule "vendors/spdlog"]
	path = vendors/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "vendors/loki-mq"]
	path = vendors/oxen-mq
	url = https://github.com/oxen-io/oxen-mq.git
[submodule "vendors/nlohmann_json"]
	path = vendors/nlohmann_json
	url = https://github.com/nlohmann/json.git
[submodule "vendors/uWebSockets"]
	path = vendors/uWebSockets
	url = https://github.com/uNetworking/uWebSockets.git
[submodule "vendors/cpr"]
	path = vendors/cpr
	url = https://github.com/whoshuu/cpr.git
