[submodule "vendors/spdlog"]
	path = vendors/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "vendors/loki-mq"]
	path = vendors/loki-mq
	url = https://github.com/loki-project/loki-mq.git
[submodule "vendors/nlohmann_json"]
	path = vendors/nlohmann_json
	url = https://github.com/nlohmann/json.git
[submodule "vendors/uWebSockets"]
	path = vendors/uWebSockets
	url = https://github.com/uNetworking/uWebSockets.git
