[Unit]
Description=Loki storage server
After=network-online.target
Wants=loki-node.service
After=loki-node.service

[Service]
User=_loki
Type=notify
WatchdogSec=5min
WorkingDirectory=/var/lib/loki
LimitNOFILE=16384
Restart=always
RestartSec=5s
ExecStart=/usr/bin/loki-storage --config-file /etc/loki/storage.conf

[Install]
WantedBy=multi-user.target
