[Unit]
Description=Loki storage server (testnet)
After=network-online.target
Requires=loki-testnet-node.service
After=loki-testnet-node.service

[Service]
User=_loki
Type=simple
WorkingDirectory=/var/lib/loki
Restart=always
RestartSec=5s
ExecStart=/usr/bin/loki-storage --config-file /etc/loki/storage-testnet.conf

[Install]
WantedBy=multi-user.target
